#!/bin/bash

# Enter your application details below.
# IMPORTANT: do not add comments on the same line of your
# environment variables!

# Email to get alerts from Letsencrypt.
EMAIL=email@email.com

# Domain name or subdomain linked to your server's public IP.
DOMAIN=mydomain.com

# Folder where is located your flask app in the repo. In this example
# it's under ./core/
APP_FOLDER=core

# Application environment.
FLASK_ENV=development

# If can be the app's entrypoint (wsgi if using ./core/wsgi.py)
# or the application package (as in this case) as the app's
# configs are under ./core/flask_app/__init__.py
FLASK_APP=flask_app
