# File  : docker-compose.yml
# Author: Matthieu Petiteau <mpetiteau.pro@gmail.com>
# Date  : 04.12.2019

# In our nginx service with pass to our build the args
# DOMAIN and FLASK so we can populate our nginx server
# config automatically. see nginx/Dockerfile

version: "3.2"

services:
  nginx:
    build:
      context: ./nginx
      args:
        # Pass the name of our Domain and Email from .env
        DOMAIN: ${DOMAIN}
        EMAIL: ${EMAIL}
        # Pass the name of our docker-compose service to avoid
        # having to modify it in Nginx if we want to change it.
        FLASK: application
    ports:
      - 80:80
      - 443:443
    volumes:
        - ${NGINX_VOLUMES}
    depends_on:
      - application

  application:
    build: ./core
    # Our Flask app is built to run as a module (`flask_app`). The
    # app configs are set-up directly in `flask_app/__init__.py`
    command: gunicorn -c gunicorn_ini.py flask_app:app
    volumes:
      - .:/usr/src/app
    environment:
      # Load our flask environment from our .env file.
      - FLASK_ENV=${FLASK_ENV}
    ports:
      - 5000:5000
    
