<!DOCTYPE html>
<!--
- File              : 404.html
- Author            : Matthieu Petiteau - smallwat3r <mpetiteau.pro@gmail.com>
- Date              : Tue 22 Jan 11:15:23 2019
- Last Modified Date: Tue 22 Jan 11:15:23 2019
- Last Modified By  : Matthieu Petiteau - smallwat3r <mpetiteau.pro@gmail.com>
-->
<html>
    <head>
        <title>404</title>
    </head>
    <body>
        <div>
            <h2>Seems like you're lost...</h2>
            <p>{{ error }}</p>
            <a href="/">Take me home</a>
        </div>
    </body>
</html>
